.notifyme-wrapper {
  position: fixed;
  z-index: 9999;
  width: auto;
  display: grid;
}

.notifyme-container {
  position: relative;
  padding: 1rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 0.625rem;
  width: fit-content;
  overflow: hidden;
}

.notifyme-container.notifyme-info {
  background-color: #4fa0d6;
}

.notifyme-container.notifyme-success {
  background-color: #76c798;
}

.notifyme-container.notifyme-warning {
  background-color: #ecad48;
}

.notifyme-container.notifyme-error {
  background-color: #e74c3c;
}

.notifyme-container.notifyme-notify {
  background-color: #555;
}

.notifyme-close {
  text-align: right;
  color: #fff;
  cursor: pointer;
}

.notifyme-icon {
  color: #fff;
  font-size: 1.563rem;
}

.notifyme-message {
  display: grid;
  gap: 0.625rem;
  width: auto;
  padding: 0 1.25rem;
  justify-items: start;
  white-space: nowrap;
}

.notifyme-title {
  color: #fff;
  font-weight: bold;
}

.notifyme-description {
  color: #fff;
  display: flex;
  align-items: center;
}